/*
 *  Custom fonts
 */

@font-face {
    font-family: 'bitstream_vera_sans_monobold';
    src: url('fonts/veramobd-webfont.woff2') format('woff2'),
         url('fonts/veramobd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bitstream_vera_sans_monoBdOb';
    src: url('fonts/veramobi-webfont.woff2') format('woff2'),
         url('fonts/veramobi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bitstream_vera_sans_monoOb';
    src: url('fonts/veramoit-webfont.woff2') format('woff2'),
         url('fonts/veramoit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bitstream_vera_sans_mono';
    src: url('fonts/veramono-webfont.woff2') format('woff2'),
         url('fonts/veramono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

