body {
	font-size:10px;
	font-family:Verdana;
	color:#000000;
	background-color:#FFFFFF;
}
select {
        font-size:9px;
        font-family:Verdana;
}
select.lpp {
        font-size:8px;
        font-family:Verdana;
}
span.lpp {
	font-size:8px;
	font-family:Verdana;
}
button{
        font-size:10px;
        font-family:Verdana;
}
option {
        font-size:8px;
        font-family:Verdana;
}
option.debug {
        color:#000000;
        font-family:Verdana;
        font-size:9px;
        background-color:#22CC00;
}
option.info {
        color:#000000;
        font-family:Verdana;
        font-size:9px;
        background-color:#66EE00;
}
option.notice {
        color:#000000;
        font-family:Verdana;
        font-size:9px;
        background-color:#BBFF22;
}
option.warning {
        color:#000000;
        font-family:Verdana;
        font-size:9px;
        background-color:#FFFF33;
}
option.err {
        color:#000000;
        font-family:Verdana;
        font-size:9px;
        background-color:#FFCC00;
}
option.crit {
        color:#000000;
        font-family:Verdana;
        font-size:9px;
        background-color:#FF9922;
}
option.alert {
        color:#000000;
        font-family:Verdana;
        font-size:9px;
        background-color:#FF6600;
}
option.emergency {
        color:#000000;
        font-family:Verdana;
        font-size:9px;
        background-color:#FF4400;
}
option.panic {
        color:#000000;
        font-family:Verdana;
        font-size:9px;
        background-color:#CC1100;
}
input {
        font-size:10px;
        font-family:Verdana;
        background-color:#FFFFFF;
}
input button{
        font-size:10px;
        font-family:Verdana;
        width:70px;
}
input submit{
        font-size:10px;
        font-family:Verdana;
        width:70px;
        background-color:#EEEEEE;
}
input[type=checkbox]{
	padding: 0;
	margin: 0;
}
body.archive {
	color:#000000;
        font-family:Verdana;
        font-size:10px;
	background-color:#E6E6E6;
}
td, body {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
}
td.grey {
	color:#000000;
	font-family:Verdana;
	font-size:10px;
	background-color:#CCCCCC;
}
td.darkgrey {
	color:#000000;
	font-family:Verdana;
	font-size:10px;
	background-color:#CCCCCC;
}
td.header {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#CCCCCC;
}
td.debug {
	color:#000000;
	font-family:Verdana;
	font-size:10px;
	background-color:#22CC00;
}
td.info {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#66EE00;
}
td.notice {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#BBFF22;
}
td.warning {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#FFFF33;
}
td.error {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#FFCC00;
}
td.critical {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#FF9922;
}
td.alert {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#FF6600;
}
td.emergency {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#FF4400;
}
td.panic {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#CC1100;
}
td.netup {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#BEF781;
}
td.netupd {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#ACFA58;
}
td.netdown {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#FE2E2E;
}
td.netdownd {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#FD2E2E;
}
td.netinfo {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#F3F781;
}
td.netinfod {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#F4FA58;
}
th.grey {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#EEEEEE;
}
th.aqua {
		color:#f4f4f4;
		font-family:Verdana;
		font-size:10px;
		background-color:#005f81;
}

td.white {
        color:#000000;
        font-family:Verdana;
        font-size:10px;
        background-color:#FFFFFF;
}.line {
        border-width: 1px 1px 1px 1px;
        padding: 2px 2px 2px 2px;
        border-style: solid;
        border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
        -moz-border-radius: 0px 0px 0px 0px;
}
table.thin {
        border-width: 1px 1px 1px 1px;
        border-spacing: 0px;
        border-style: solid;
        border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
        border-collapse: collapse;
}
table.thin th {
        border-width: 1px 1px 1px 1px;
        padding: 1px 1px 1px 1px;
        border-style: solid;
        border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
        -moz-border-radius: 0px 0px 0px 0px;
}
table.thin td {
        border-width: 1px 1px 1px 1px;
        padding: 2px 2px 2px 2px;
        border-style: solid;
        border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
        -moz-border-radius: 0px 0px 0px 0px;
}
table {
        border-width: 1px 1px 1px 1px;
        border-spacing: 0px;
        border-style: solid;
        border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
        border-collapse: collapse;
}
table th {
        border-width: 1px 1px 1px 1px;
        padding: 2px 2px 2px 2px;
	font-weight: light;
        border-style: none;
        border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
        -moz-border-radius: 0px 0px 0px 0px;
}
table td {
        border-width: 1px 1px 1px 1px;
        padding: 2px 2px 2px 2px;
        border-style: none;
        border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
        -moz-border-radius: 0px 0px 0px 0px;
}
table.outline {
        border-width: 1px 1px 1px 1px;
        border-spacing: 0px;
        border-style: solid;
        border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
        border-collapse: collapse;
}
table.outline th {
        border-width: 1px 1px 1px 1px;
        padding: 2px 2px 2px 2px;
        border-style: solid;
        text-align: left;
        border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
        -moz-border-radius: 0px 0px 0px 0px;
}
table.outline td {
        border-width: 1px 1px 1px 1px;
        padding: 2px 2px 2px 2px;
        border-style: none;
        border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
        -moz-border-radius: 0px 0px 0px 0px;
}
table.none {
        border-width: 1px 1px 1px 1px;
        border-spacing: 0px;
        border-style: none;
        border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
        border-collapse: collapse;
}
table.none th {
        border-width: 1px 1px 1px 1px;
        padding: 2px 2px 2px 2px;
        border-style: none;
	font-weight: light;
        text-align: left;
        border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
        -moz-border-radius: 0px 0px 0px 0px;
}
table.none td {
        border-width: 1px 1px 1px 1px;
        padding: 2px 2px 2px 2px;
        border-style: none;
        border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
        -moz-border-radius: 0px 0px 0px 0px;
}
.header{
        color:#000000;
        font-family:Verdana;
        font-size:11px;
        font-weight:bold;
}
a {
        color:#000000;
        text-decoration:none;
        font-weight:bold;
}
a:hover {
        color:#000000;
        text-decoration:underline;
        font-weight:bold;
}
a:active {
        color:#000000;
        text-decoration:none;
        font-weight:bold ;
}
h3 {
        color:#000000;
        text-decoration:none;
        font-size:110%;
}
.tip {
        font:10px/12px
        Arial,Helvetica,sans-serif; border:solid 1px
        #666666; width:270px; padding:1px;
        position:absolute; z-index:100;
        visibility:hidden; color:#333333; top:20px;
        left:90px; background-color:#ffffcc;
}
#displaybox {
        z-index: 10000;
        filter: alpha(opacity=75); /*older IE*/
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75); /* IE */
        -moz-opacity: .75; /*older Mozilla*/
        -khtml-opacity: 0.75;   /*older Safari*/
        opacity: 0.75;   /*supported by current Mozilla, Safari, and Opera*/
        background-color:#000000;
        position:fixed; top:0px; left:0px; width:100%; height:100%; text-align:center; vertical-align:middle;
}

#loading {
    position:absolute;
    width:300px;
    top:0px;
    left:50%;
    margin-left:-150px;
    text-align:center;
    padding:7px 0 0 0;
    font:bold 11px Arial, Helvetica, sans-serif;
}

