@import "fonts.css";


body {
    color: #000000;
    font-size: 10px;
    font-family: 'bitstream_vera_sans_mono', Verdana, Arial, sans-serif;
    background-color: #FFFFFF;
}

select {
    font-family: 'bitstream_vera_sans_mono', Verdana, Arial, sans-serif;
    font-size: 9px;
}

select.lpp {
    font-size: 8px;
}

span.lpp {
    font-size: 8px;
}

button {
    font-size: 10px;
    font-family: 'bitstream_vera_sans_mono', Verdana, Arial, sans-serif;
}

option {
    font-family: 'bitstream_vera_sans_mono', Verdana, Arial, sans-serif;
    font-size: 8px;
}

option.debug {
    font-size: 9px;
    background-color: #22CC00;
}

option.info {
    font-size: 9px;
    background-color: #66EE00;
}

option.notice {
    font-size: 9px;
    background-color: #BBFF22;
}

option.warning {
    font-size: 9px;
    background-color: #FFFF33;
}

option.err {
    font-size: 9px;
    background-color: #FFCC00;
}

option.crit {
    font-size: 9px;
    background-color: #FF9922;
}

option.alert {
    font-size: 9px;
    background-color: #FF6600;
}

option.emergency {
    font-size: 9px;
    background-color: #FF4400;
}

option.panic {
    font-size: 9px;
    background-color: #CC1100;
}

input {
    font-size: 10px;
    font-family: 'bitstream_vera_sans_mono', Verdana, Arial, sans-serif;
    background-color: #FFFFFF;
}

input button {
    font-size: 10px;
    font-family: 'bitstream_vera_sans_mono', Verdana, Arial, sans-serif;
    width: 70px;
}

input[type=checkbox] {
    font-size: 10px;
    font-family: 'bitstream_vera_sans_mono', Verdana, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

input[type="radio"] {
    font-size: 10px;
    font-family: 'bitstream_vera_sans_mono', Verdana, Arial, sans-serif;
    margin-top: -1px;
    vertical-align: middle;
}

td {
}

td.grey {
    background-color: #CCCCCC;
}

td.darkgrey {
    background-color: #CCCCCC;
}

td.header {
    background-color: #CCCCCC;
}

td.debug {
    background-color: #22CC00;
}

td.info {
    background-color: #66EE00;
}

td.notice {
    background-color: #BBFF22;
}

td.warning {
    background-color: #FFFF33;
}

td.error {
    background-color: #FFCC00;
}

td.critical {
    background-color: #FF9922;
}

td.alert {
    background-color: #FF6600;
}

td.emergency {
    background-color: #FF4400;
}

td.panic {
    background-color: #CC1100;
}

td.netup {
    background-color: #BEF781;
}

td.netupd {
    background-color: #ACFA58;
}

td.netdown {
    background-color: #FE2E2E;
}

td.netdownd {
    background-color: #FD2E2E;
}

td.netinfo {
    background-color: #F3F781;
}

td.netinfod {
    background-color: #F4FA58;
}

th.grey {
    background-color: #EEEEEE;
}

th.aqua {
    color: #f4f4f4;
    background-color: #005f81;
}

td.white {
    background-color: #FFFFFF;
}

.line {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: solid;
    border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
    border-radius: 0 0 0 0;
}

table.thin {
    border-width: 1px 1px 1px 1px;
    border-spacing: 0;
    border-style: solid;
    border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
    border-collapse: collapse;
}

table.thin th {
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
    border-radius: 0 0 0 0;
}

table.thin td {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: solid;
    border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
    border-radius: 0 0 0 0;
}

table {
    border-width: 1px 1px 1px 1px;
    border-spacing: 0;
    border-style: solid;
    border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187) rgb(187, 187, 187);
    border-collapse: collapse;
}

table th {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    font-weight: lighter;
    border-style: none;
    border-radius: 0 0 0 0;
}

table td {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: none;
    border-radius: 0 0 0 0;
}

table.outline {
    border-width: 1px 1px 1px 1px;
    border-spacing: 0;
    border-style: solid;
    border-collapse: collapse;
}

table.outline th {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: solid;
    text-align: left;
    border-radius: 0 0 0 0;
}

table.outline td {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: none;
    border-radius: 0 0 0 0;
}

table.none {
    border-width: 1px 1px 1px 1px;
    border-spacing: 0;
    border-style: none;
    border-collapse: collapse;
    word-wrap: normal;
}

table.none th {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: none;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    border-radius: 0 0 0 0;
}

table.none td {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: none;
    font-size: 10px;
    text-align: left;
    border-radius: 0 0 0 0;
}

.header {
    font-size: 11px;
    font-weight: bold;
}

a {
    color: #000000;
    text-decoration: none;
    /*font-weight:bold;*/
}

a:hover {
    color: #000000;
    text-decoration: underline;
    /*font-weight:bold;*/
}

a:active {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

h3 {
    text-decoration: none;
    font-size: 110%;
}

.tip {
    font: 10px/12px Arial, Helvetica, sans-serif;
    border: solid 1px #666666;
    width: 270px;
    padding: 1px;
    position: absolute;
    z-index: 100;
    visibility: hidden;
    color: #333333;
    top: 20px;
    left: 90px;
    background-color: #ffffcc;
}

#succMsg {
    color: #24a930;
    font-weight: bold;
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
}

#failMsg {
    color: #CC1100;
    font-weight: bold;
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}


